.desplegarDesplegable {
    animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-ver-top {
    0% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
}

.contraerDesplegable {
    animation: scale-down-ver-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes scale-down-ver-top {
    0% {
        transform: scaleY(1);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scaleY(0);
        transform-origin: 100% 0%;
    }
}
