@import "tailwindcss";

@theme {
    --color-tito-primary: #683ee6;
    --color-tito-secondary: #cbfd02;
    --color-tito-black: #0f0d18;
    --color-tito-blue: #2f1c6a;
    --color-tito-red: #f25236;
    --color-tito-bluedark: #0d0035;
    --color-tito-gray: #9ea0b7;
    --color-tito-lila: #c3a1ff;

    --color-tito-bg-primary: #30334e;
    --color-tito-bg-secondary: #3d405d;
    --color-tito-bg-3: #535688;

    --color-tito-btn-gray: #8b8db2;
    --color-tito-btn-green: #3a692c;
    --color-tito-btn-border-green: #66ff00;

    --font-1: "Roboto", sans-serif;
}

:root {
    font-family: var(--font-1);
    background-color: var(--color-tito-bg-primary);
    font-size: 14px;
}

@layer utilities {
    .animate-gradient-x {
        background-size: 400% 400%;
        animation: gradient-x 4s ease-in-out infinite;
    }

    @keyframes gradient-x {
        0%,
        100% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
    }

    .gradient-glow {
        background-size: 400% 400%;
        animation: gradient-x 1.5s ease-in-out infinite;
    }
}

/* SCROLL */
*::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}
*::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: var(--color-tito-bg-primary);
}

*::-webkit-scrollbar-track:hover {
    background-color: var(--color-tito-bg-primary);
}

*::-webkit-scrollbar-track:active {
    background-color: var(--color-tito-bg-primary);
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #626262;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #838383;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #aeaeae;
}
/* /SCROLL */
